<%- include('head.ejs')%>
<%- include('navbar.ejs')%>
<section class="contact contactBody">
    <div class=" contactBg pt-4">
        <div class="container pb-5">
            <%- include('F-navbar.ejs')%>
            <div class="pt-5">
                <p class="heading"><span class="">Contact Us</span></p>
                <h3 style="color:#BDAB98">We do appreciate your feedback</h3>
                <div class="row mt-5" style="color:#979797">
                    <div class="col-md-6 border-right">
                        <p>We will be glad to hear from you if:</p>
                        <p>- You have found a mistake in our phone specifications.</p>
                        <p>- You have info about a phone which we don't have in our database.</p>
                        <p>- You have found a broken link.</p>
                        <p>- You have a suggestion for improving GSMArena.com or you want to request a feature.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Before sending us an email, please keep in mind:</p>
                        <p>- We do not sell mobile phones.</p>
                        <p>- We do not know the price of any mobile phone in your country.</p>
                        <p>- We don't answer any "unlocking" related questions.</p>
                        <p>- We don't answer any "Which mobile should I buy?" questions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  pt-4">
        <div class=" p-5">
            <p class="contacthead">Our Location</p>
            <div class="row mb-5">
                <div class="col-lg-3">
                    <p class="contactstore">BKLYN</p>
                    <p class="contactadress">Egypt</p>
                </div>
                <div class="col-lg-3">
                    <p class="contactstore">Telephone</p>
                    <p class="contactadress">123456789</p>
                </div>
            </div>
            <p class="contacthead">You can directly contact us from the following form</p>
            <form action="">
                <div class="row">
                    <div class="col-lg-2 d-flex">
                        <p class="contactadress mt-3 label">Name</p>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <input type="text" name="name" value="" id="input-name" class="w-100 contactinp">
                    </div>
                    <div class="col-lg-2 d-flex">
                        <p class="contactadress  mt-3 label">E-mail</p>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <input type="text" name="name" value="" id="input-name" class="w-100 contactinp">
                    </div>
                    <div class="col-lg-2 d-flex">
                        <p class="contactadress  mt-3 label">Comment</p>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <textarea type="text" name="name" value="" id="input-name" class="w-100 contactinp contacttextarea"></textarea>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-dark ml-auto" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<%- include('end.ejs')%>