      
     
    <!--footer-->
    <section class="footer">
        <div class="downfoot py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="text-white">HILFE & INFORMATION</p>
                        <p><a href="" class="text-secondary">FAQ</a></p>
                        <p><a href="" class="text-secondary">Lieferung und Versnd</a></p>
                        <p><a href="" class="text-secondary">Ruckgate und Umtausch</a></p>
                        <br>
                        <p><a href="" class="text-secondary">Widerruf</a></p>
                        <p><a href="" class="text-secondary">Datenschutz</a></p>
                        <p><a href="" class="text-secondary">AGB</a></p>
                        <p><a href="" class="text-secondary">Impressum</a></p>
                        <p><a href="" class="text-secondary">Sitemap</a></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="text-white">Quick Links</p>
                        <p><a href="index.html" class="text-secondary">Home</a></p>
                        <p><a href="men.html" class="text-secondary">Men</a></p>
                        <p><a href="women.html" class="text-secondary">Women</a></p>
                        <p><a href="kids.html" class="text-secondary">Kids</a></p>
                        <br>
                        <p class="text-white">Accounts</p>
                        <p><a href="" class="text-secondary">Main Account</a></p>
                        <p><a href="" class="text-secondary">Mahmoud</a></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="text-white">Social Media</p>
                        <i class="socialicon text-secondary fab fa-facebook-f"></i>
                        <i class="socialicon text-secondary fab fa-whatsapp"></i>
                        <i class="socialicon text-secondary fab fa-twitter"></i>
                        <i class="socialicon text-secondary fab fa-instagram"></i>
                        <br>
                        <br>
                        <p class="text-white">Contact</p>
                        <p class="text-secondary">Trag dich in unserren Newsletter ein um uber neue Produke informiert zu waeden und Einblicke in unserren Design Prozess zu bekommen</p>
                        <form>
                            <input class="form-control w-75 d-inline" placeholder="Email Adresse" type="text">
                            <button class="btn btn-outline-light border-white mb-1 ml-2">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="border-secondary">
            <div class="container text-center">
                <p class="text-secondary">Copy @ 2020 by ksm mahmoud</p>
            </div>
        </div>
    </section>
    <!--footer--> 
    <script src="/js/jquery-3.4.1.min.js"></script>    
    <script src="/js/popper.min.js"></script>    
    <script src="/js/bootstrap.min.js"></script>  
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/index.js"></script>  
</body>
</html>