      
     
    <!--footer-->
    <section class="footer">
        <div class="downfoot py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="text-white">HELP & INFORMATION</p>
                        <p><a href="" class="text-secondary">FAQ</a></p>
                        <p><a href="" class="text-secondary">Privacy Policy</a></p>
                        <p><a href="" class="text-secondary">Terms of use</a></p>
                        <p><a href="../contact" class="text-secondary">Contact Us</a></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="text-white">Quick Links</p>
                        <p><a href="../" class="text-secondary">Home</a></p>
                        <p><a href="../news" class="text-secondary">News</a></p>
                        <p><a href="../reviews" class="text-secondary">Reviews</a></p>
                        <p><a href="../compare" class="text-secondary">Compare</a></p>
                        <p><a href="../coverage" class="text-secondary">Coverage</a></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="text-white">Social Media</p>
                        <i class="socialicon text-secondary fab fa-facebook-f"></i>
                        <i class="socialicon text-secondary fab fa-whatsapp"></i>
                        <i class="socialicon text-secondary fab fa-twitter"></i>
                        <i class="socialicon text-secondary fab fa-instagram"></i>
                        <br>
                        <br>
                        <p class="text-white">Contact</p>
                        <p class="text-secondary">Subscribe to our Youtube channel to be informed about new products and to get insights into our design process</p>
                        <form>
                            <input class="form-control w-75 d-inline" placeholder="Email Adresse" type="text">
                            <button class="btn btn-outline-light border-white mb-1 ml-2">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="border-secondary">
            <div class="container text-center">
                <p class="text-secondary">Copy @ 2020 by ksm mahmoud</p>
            </div>
        </div>
    </section>
    <!--footer--> 
    <script src="/js/jquery-3.4.1.min.js"></script>    
    <script src="/js/jquery.twbsPagination.min.js"></script>
    <script src="/js/popper.min.js"></script>    
    <script src="/js/bootstrap.min.js"></script>  
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>  
</body>
</html>