
          <div class="firstnav p-4 bg-secondary rounded">
            <div class="row downsearch">
              <div class="col-lg-8">
                <ul class="d-flex list-unstyled my-auto">
                  <li class="navlist"><a href="../" class="text-white" style="text-decoration: none;">Home</a></li>
                  <li class="navlist"><a href="../news" class="text-white" style="text-decoration: none;">News</a></li>
                  <li class="navlist"><a href="../phones" class="text-white" style="text-decoration: none;">Phones</a></li>
                  <li class="navlist"><a href="../compare" class="text-white" style="text-decoration: none;">Compare</a></li>
                  <li class="navlist"><a href="../coverage/Egypt" class="text-white" style="text-decoration: none;">Coverage</a></li>
                  <li class="navlist"><a href="../Reviews" class="text-white" style="text-decoration: none;">Reviews</a></li>
                  <li class="navlist"><a href="../Contact" class="text-white" style="text-decoration: none;">Contact</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <i class="fas fa-search text-white searchbtn2 float-right mt-1"></i>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row upersearch">
              <div class="col-11">
                <form  action="/search-phone" method="POST" class="position-relation">
                  <input name="search" type="text" placeholder="Search" class="searchinp2">
                  <button type="submit" class=" text-white mt-1 position-absolute searchicon btn"><i class="fas fa-search"></i></button>
                </form>
              </div>
              <div class="col-1">
                <i class="far fa-times-circle float-right text-white exitsearch"></i>
              </div>
            </div>
          </div>