
  <!--loading-->
  <section>
    <div class="screen">
        <div class="text-white m-auto description">
            <div class="loadingdesc font-weight-bold">
                <p class=" desc1">Creating invoation</p>
            </div>
            <div class="loadingdesc font-weight-bold">
                <p class=" desc2">For Everyday</p>
            </div>
            <div class="loadingdesc font-weight-bold">
                <p class=" desc3">People.</p>
            </div>
        </div>
    </div>
</section>
<!--loading-->