<%- include('head.ejs')%>
<body>
    <%- include('navbar.ejs')%>
    <div class="container">
        <form action="/SignInHandle" method="POST" enctype="multipart/form-data">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="form-group  ">
                        <input name="email" type="text" class="form-control" placeholder="email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group  ">
                        <input name="password" type="text" class="form-control" id="inputimg" placeholder="password">
                    </div>
                </div>
                <button class="btn btn-primary w-100">Submit</button>  
            </div>  
        </form>
    </div>
<%- include('end.ejs')%>