
<body style="background-color:#ebeeef;">
  <!--navbar-->
  <nav class="navbar navbar-expand-lg salesnavbar fixed-top navbar-light">
    <div class="container">
        <div class="dashbtn">
            <div class="dbtn"></div>
            <div class="dbtn"></div>
            <div class="dbtn"></div>
        </div>
        <a class="navbar-brand font-weight-bold text-white" href="../">BKLYN</a>
        <ul class=" navbar-nav">
            <li class="nav-item Mencate">
            <a class="nav-link text-white" href="../news">News</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white Mencate" href="../phones">Phones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white Mencate" href="../compare">Compare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="../coverage/Egypt">Coverage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="../Reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="../Contact">Contact</a>
            </li>
        </ul>
        <form class="form-inline searchform my-2 my-lg-0 ml-auto" action="/search-phone" method="POST" class="position-relation">
            <input name="search" class=" bg-transparent searchinp text-white" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark rounded-circle searchbtn text-white my-2 my-sm-0" type="submit"><i class="my-1 fas fa-search"></i></button>
        </form>
        <i class="carticon userlog ml-4 mr-4 fas fa-user"></i>
        <i class="carticon navcart fas fa-heart"></i>
    </div>
  </nav>
  <div class="downnave">
    <div class="container">
        <div class="row py-4">
            <div class="col-3">
                <p class="downnavhead">Trendding</p>
                <ul class="downnavlist list-unstyled">
                    <li><a href="news.html">Best sellers</a></li>
                    <li><a href="news.html">Sneakers of the Week</a></li>
                    <li><a href="news.html">A-ZX</a></li>
                    <li><a href="news.html">Camo</a></li>
                    <li><a href="news.html">Disney</a></li>
                    <li><a href="news.html">X9000 Shoes</a></li>
                    <li><a href="news.html">Clean Classics</a></li>
                    <li><a href="news.html">Shoes Under $80</a></li>
                    <li><a href="news.html">College Fan Gear</a></li>
                    <li><a href="news.html">Back to School</a></li>
                    <li><a href="news.html">Fall Collection</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p class="downnavhead">Clothing</p>
                <ul class="downnavlist list-unstyled">
                    <li><a href="news.html">Hoodies & Sweatshirts</a></li>
                    <li><a href="news.html">Jackets</a></li>
                    <li><a href="news.html">Short Sleeve Shirts</a></li>
                    <li><a href="news.html">T-Shirts</a></li>
                    <li><a href="news.html">Jerseys</a></li>
                    <li><a href="news.html">Shorts</a></li>
                    <li><a href="news.html">Tank Tops</a></li>
                    <li><a href="news.html">Swim</a></li>
                    <li><a href="news.html">Tights</a></li>
                    <li><a href="news.html">Pants</a></li>
                    <li><a href="news.html">Track Suits</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p class="downnavhead">accessories</p>
                <ul class="downnavlist list-unstyled">
                    <li><a href="news.html">Bags & Backpacks</a></li>
                    <li><a href="news.html">Face Covers</a></li>
                    <li><a href="news.html">Hats & Beanies</a></li>
                    <li><a href="news.html">Phone Cases</a></li>
                    <li><a href="news.html">Watches</a></li>
                    <li><a href="news.html">Balls</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p class="downnavhead">Collections</p>
                <ul class="downnavlist list-unstyled">
                    <li><a href="news.html">Classic Sneakers</a></li>
                    <li><a href="news.html">ZX</a></li>
                    <li><a href="news.html">NMD</a></li>
                    <li><a href="news.html">Ultraboost</a></li>
                    <li><a href="news.html">Superstar</a></li>
                    <li><a href="news.html">Stan Smith</a></li>
                    <li><a href="news.html">Tiro Collection</a></li>
                    <li><a href="news.html">Y-3</a></li>
                    <li><a href="news.html">YEEZY</a></li>
                    <li><a href="news.html">Running</a></li>
                    <li><a href="news.html">Soccer</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="py-5 px-5  leftsidebar sidebar">
    <div class="exit text-white  float-right"><i class="fas fa-times"></i></div>
    <div class="clearfix"></div>
    <div class="leftlogo d-flex mb-4 ">
        <p class="mx-auto font-weight-bold text-white">BKLYN</p>
    </div>
    <form class="form-inline mx-auto px-2 my-2 my-lg-0">
        <div class="formdiv position-relative">
            <input class="form-control mr-sm-2 bg-transparent text-white" type="search" placeholder="Search" aria-label="Search">
            <button class="seabtn" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div class=" leftlist">
        <ul class="list-unstyled">
            <li><a href="index.html" class="text-white">Home</a></li>
            <li><a class="text-white" href="men.html">Men</a></li>
            <li><a href="women.html" class="text-white">Women</a></li>
            <li><a href="kids.html" class="text-white">Kids</a></li>
            <li><a href="news.html" class="text-secondary">News</a></li>
            <li><a href="sales.html" class="text-secondary">Sales</a></li>
            <li><a class="text-secondary userlog">Login</a></li>
            <li><a href="aboutus.html" class="text-secondary">About Us</a></li>
            <li><a href="contact.html" class="text-secondary">Contact Us</a></li>
        </ul>
    </div>
  </div>
  <div class="rightnavwall">
    
  </div>
  <div class="leftnavwall">
    
  </div>
  <div class="p-5 rightsidebar sidebar">
    <div class="exit text-white float-right"><i class="fas fa-times"></i></div>
    <div class="clearfix"></div>
    <div class="leftlogo d-flex mb-4">
        <p class="mx-auto font-weight-bold text-white">BKLYN</p>
    </div>
    <div class="leftlist">
        <p class="text-white total">Total Price: <span class="totalprice">191</span> EGP</p>
        <ul class="list-unstyled">
            <li>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/man8.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8 cartdiv text-white">
                        <p>Name: Product Name</p>
                        <p>Price: <span class="proprice1">76</span><span class="proprice d-none">76</span> EGP</p>
                        <div class="quan">
                            <span class="my-auto mr-4">Quantity:</span>
                            <div class="d-flex">
                                <i class="far my-auto minus fa-2x fa-minus-square" style="cursor: pointer;"></i>
                                <p class="px-4  my-auto count">1</p>
                                <i class="far my-auto plus fa-2x fa-plus-square" style="cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/man4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8 cartdiv text-white">
                        <p>Name: Product Name</p>
                        <p>Price: <span class="proprice1">115</span><span class="proprice d-none">115</span> EGP</p>
                        <div class="quan">
                            <span class="my-auto mr-4">Quantity:</span>
                            <div class="d-flex">
                                <i class="far my-auto minus fa-2x fa-minus-square" style="cursor: pointer;"></i>
                                <p class="px-4  my-auto count">1</p>
                                <i class="far my-auto plus fa-2x fa-plus-square" style="cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <button class="btn btn-outline-light w-100">Proceed to checkout</button>
            </li>
        </ul>
    </div>
  </div>
  <!--navbar-->
  <!--login-->
  <section class="login">
    <div class="m-auto">
        <div class="logwall position-relative rounded d-flex">
            <i class="fas fa-times fa-2x text-white logexit"></i>
            <div class="log m-auto text-center">
                <div class="">
                    <!--<i class="fas fa-tshirt logicon rounded-circle position-relative"><i class="fas fa-lock lockicon position-absolute"></i></i>-->
                    <i class="fas fa-lock logicon rounded-circle"></i>
                </div>
                <div class="">
                    <p class="d-flex mx-auto logsign"><span class="w-100 leftlog py-2">Login</span><span class="w-100 rightsign py-2">Signup</span></p>
                </div>
                <div class="">
                    <form class="inplogdiv w-75 mx-auto">
                        <input class="nameino w-100" placeholder="Username" type="text"></input>
                        <input class="nameino w-100" placeholder="Password" type="password"></input>
                        <button type="button" class="btn btn-outline-dark text-white px-4 mt-4">Login</button>
                    </form>
                    <form class="inpsigndiv mx-auto">
                        <input class="nameino w-100" placeholder="Username" type="text"></input>
                        <input class="nameino w-100" placeholder="Email" type="text"></input>
                        <input class="nameino w-100" placeholder="Password" type="password"></input>
                        <input class="nameino w-100" placeholder="Confirm Password" type="password"></input>
                        <button type="button" class="btn btn-outline-dark text-white px-4 mt-4">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--login-->